*, *::before, *::after {
    margin: 0;
    padding: 0;
}

.card-container-crud {
    background-color: antiquewhite;
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8em;
    margin-bottom: .5em;

    .card-container-info {
        display: flex;
        margin-left: 3em;

        .card-name {
            width: 10.5em;
        }

        .card-status-active, .card-status-inactive {
            padding: 1px 1em;
            border-radius: 10px;
        }

        .card-status-active {
            background-color: green;
            color: white;
        }

        .card-status-inactive {
            background-color: red;
            color: white;
        }
    }

    .card-crud-opc {
        display: flex;
        gap: 3em;

        .edit-icon, .status-iconLock, .status-iconUnlck, .delete-icon {
            width: 1.5em;
            height: 1.5em;

            &:hover {
                cursor: pointer;
            }
        }

        .status-iconLock {
            color: red;
        }

        .status-iconUnlck {
            color: green;
        }

        .delete-icon {
            margin-right: 2em;
        }
    }
}