@import 'styles.scss';

.login-page{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    img{
        object-fit: cover;
        width: 60%;
    }
    .login-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: #E73636;
            font-family: 'Prata';
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 10px;
        }
        h3{
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 0;
        }
        .welcome-message{
            margin-top: 10px;
            font-weight: 400;
            font-size: 14px;
            color: rgba(26, 41, 61, 0.83);
        }
        .inputs-login{
            width: 70%;
            .button-google{
                background-image: url(../../assets/login/google-btn.png);
                border: none;
                border-radius: 4px;
                height: 50px;
                width: 100%;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .or{
                font-weight: 400;
                font-size: 16px;
                color: rgba(28, 52, 84, 0.26);
                text-align: center;
            }
            label{
                font-weight: 500;
                font-size: 14px;
                color: rgba(27, 43, 65, 0.72);
                display: block;
                text-align: left;
            }
            .input-text{
                display: block;
                width: 100%;
                height: 45px;
                border: 1px solid rgba(28, 55, 90, 0.16);
                border-radius: 3px;
                background-color: transparent;
                font-size: 14px;
            }
            .button-login{
                font-weight: 600;
                font-size: 16px;
                color: #FFFFFF;
                height: 50px;
                width: 100%;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                background: #E73636;
                border-radius: 20px;
                border: none;
            }
            .remember-me{
                font-weight: 500;
                font-size: 14px;
                color: rgba(27, 43, 65, 0.72);
            }
            .forgot-password{
                float: right;
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
}

@media(max-width:$screen-md-min){
    img{
        display: none;
    }
}