.menu {
    padding: 2rem 2rem 0 2rem;

    .details_menu {
        display: grid;
        grid-template-columns: 180px 2fr 1fr; // Las columnas laterales tienen el 1/3 del ancho y la central tiene el doble de ancho
        grid-gap: 25px;


        .filter {
            width: 400px;

            .header_filter {
                display: grid;
                grid-template-columns: 90px 150px; // Las columnas laterales tienen el 1/3 del ancho y la central tiene el doble de ancho

                div{
                    .pt-1{
                        margin-top: 1.5rem;
                    }
                    img {
                        align-self: center;
                        padding-right: .5rem;
                    }

                    display: flex;
                    flex-direction: row;
                }
            }

            .category_filter {
                // display: flex;
                // flex-direction: column;

                .list_checkout {
                    input {}

                    label {
                        padding-left: 1rem;
                    }

                }
            }

            width: 100%;
        }

        .products {
            .order_product {
                width: 650px;
                
            }

            span {
                color: var(--main-original-bg-color);
            }

            .list_products {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 5px;
            }
        }

        .order {
            
            margin-top: 18px;
            display: flex;
            flex-direction: column;


            .box_order {
                background-color: white;
                border-radius: 10px;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .order_detail {
                height: 250px;
                width: 298px;


                .header_order {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: -1rem;
                }

                .product_order {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            .button_order {
                .subtotal {
                    text-align: right;
                }

                .btn_continue {
                    display: flex;
                    justify-content: center;

                    button {
                        margin-bottom: 1rem;
                        border-radius: 20px;
                        background-color: var(--main-original-bg-color);
                        color: white;
                        padding: 5px 15px 5px 15px;
                        border: 0px;
                        width: 252px;
                        height: 46px;
                    }
                }


            }
        }
    }
}