.description-items {
    display: flex;
    align-items: center;
    span {
        margin-right: 6px;
        background-color: #eaeaea;
        color: grey;
        border: 2px solid #bababa;
        border-radius: 25px;
        font-size: .8rem;
        padding: 5px 16px;
        display: inline-flex;
        align-items: center;

        img {
            padding-right: 0.6rem;
        }
    }
}

.description-text {
    margin-top: 30px;

    h4 {
        font-weight: 600;
        font-size: 12px;
    }

    p {
        font-weight: 300px;
        font-size: 12px;
    }

    li {
        font-weight: 300px;
        font-size: 12px;
    }
}


.button-section {
    height: 83px;
    position: absolute;
    background-color: #fff;
    width: 90%;
    bottom: 1.5rem;
    left: 5%;
    border-radius: 14px;
    box-shadow: 0px 2px 28px 0px rgba(53, 56, 90, 0.12);
    z-index: 10;
}

.disabled{
    filter: grayscale(1);
}