.user-profile-container{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;

    .user-profile-details {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
}