*, *::before, *::after {
    margin: 0;
    padding: 0;
}
  
.container {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    background-color: antiquewhite;
}
.container .container-img-user-role {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.left-profile-img {
    width: 100%;
    height: 100%;
    color: #8e5e5e;
}

.container .container-img-user-role .left-profile-img-container {
    margin-top: 10px;
    width: 80%;
    height: auto;
}

.container .container-left-img-user-role .left-role {
    font-weight: bolder;
}

.container .nav-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container .nav-container .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 85%;
    width: 85%;
}

.container .nav-container .nav-list .nav-list-item {
    padding: 0.8em 0.5em;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.container .nav-container .nav-list .nav-list-item:hover {
    background-color: rgb(223, 106, 106);
    color: white;
}

.container .nav-container .nav-list .nav-list-item-logout {
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 1em 0.5em;
    user-select: none;
    cursor: pointer;
}

.container .nav-container .nav-list .nav-list-item-logout:hover {
    background-color: rgb(223, 106, 106);
    color: white;
}