.carousel{
    background-image: url("../../assets/A0_MainDinning_Tight_v1s-1440x765.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    // background-filter: ;
    width: 100%;
    height: 40em;

}



