.carousel{
    display: flex;
    flex-direction: column;
    .text_carousel{
        position: absolute;
        z-index: 1;
        text-align: center;
        align-self: center;
        margin-top: 30px;

        h1{
            span{
                color: var(--main-original-bg-color);
            }
        }

        .msg{
            font-size: 48px;
            color: white;
        }

        button {
            width: 250px;
            height: 75px;
            margin: 0px 10px 0px 10px;
            border-radius: 10px;
            background-color: var(--main-original-bg-color);
            color: white;
            padding: 5px 15px 5px 15px;
            border: 0px;


        }
        .btn_back{
            background-color: #343434;
        }
    }

    .img_carousel{
        width: 100%;
        height: 30rem;
        object-fit: fill;
        filter: blur(0.19rem);
        opacity: 50%;
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .detail_info{
         color: #343434;
         display: flex;
         flex-direction: row;
         align-items: center;
         img{
            padding-right: 1rem;
         }
        }
    }

}



