.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.dropdown__toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
    .button {
      min-width:45px;
      border-radius: 20px;
      background-color: var(--main-original-bg-color);
      color: white;
      padding: 5px 15px 5px 15px;
      border: 0px;
      text-align: center;
    }
}

.dropdown__toggle > span {
  margin-right: 8px;
}

.dropdown__toggle > i {
  transition: transform 0.2s ease-in-out;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 8px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-item {
  cursor: pointer;
  padding: 4px 8px;
  color: #333333;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}
