@import 'styles.scss';

.card {
    background-color: $card-background;
    border: 1px solid $card-border;
    width: 295px;
    height: 394px;
    border-radius: 4px;
}

.card-image{
    object-fit: cover;
}

.card-text{
    width: 250px;
    margin: 0 auto;
    & h3 {
        font-size: 18px;
        color: #252c32;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.006em;
    }
    & .card-description{
        font-weight: 400;
        color: #373e44;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.006em;
        opacity: 0.75;
    }
}